.add-div{
  float: right;
}

.main-content{
  margin : 20px;
}

.left-span{
  float : left;
}

.right-span{
  float: right;
}

.bookmark-content{
  margin: 50x;
}

.full-width{
  margin-bottom: 20px;
}

.parent-bookmark{
  width: 700px;
  border: 1px solid black;
  padding: 10px;
}

.bookmark-title{
  text-align: center !important;
}

